.button  {
	font-weight: bold;
	color: #1A76A3;
	background: #EAF5F9;
	padding: 5px;
	text-decoration: none;
	border: 1px solid #B5DAEA;
}
p {
	font-size: 12px;
	line-height: 1.6em;
	color: #666666;
}

a {
	color: #009900;
}
.postThumbnail {
	margin-right: 5px;
	margin-left: 5px;
}
.postGFX {
	padding: 6px;
	background: url(../images/post-img-frame.png);
	margin-bottom: 20px;
}
.postimgLeft {
	float: left;
	border: 1px solid #BDDFED;
	padding: 3px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.postimgRight {
	float: right;
	border: 1px solid #BDDFED;
	padding: 3px;
	margin-bottom: 10px;
	margin-left: 10px;
}
